PORT=4399
IP_ADDRESS="10.128.129.74"

GITLAB_API_URL="xxxxxx"
GITLAB_API_HOST="xxxxxx"
GITLAB_TOKEN="xxxxxx"

SILICONFLOW_TOKEN="xxxxxxx"
SILICONFLOW_BASE_URL="xxxxxx"

# 飞书机器人
FEISHU_WEBHOOK_URL="xxxxxxx"
